<!DOCTYPE html>
<html ng-app="viewApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
  <base href="/">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libs/font-awesome/font-awesome.min.css" />
    -->
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="libs/json-formatter/json-formatter.css" />

  <style>
  body { padding-top: 70px; }
  </style>

  <!-- load angular and angular route via CDN -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="angular.js"></script>
  -->
  <script src="libs/angular/angular.js"></script>
  <script src="libs/json-formatter/json-formatter.js"></script>
  <!--
  <script src="angular-route.js"></script>
  -->

 <!-- load the main controller -->
  <script src="apiBrowser.js"></script>

</head>
<body ng-controller="mainController">

    <!-- HEADER AND NAVBAR -->
    <!--
                <a class="navbar-brand" href="/">WAPI Browser</a>
    -->

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- don't use <p> tags -->
                <a class="navbar-brand navbar-left" >WAPI Browser</a>
            </div>

                <!-- no href required in this context for the <a> tag-->
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="template != 'objects.html'"><a href="" ng-click="goTo('objects')">
                    <i class="fa fa-list"></i>
                    Objects</a></li>
                <li ng-show="template != 'settings.html'"><a href="" ng-click="goTo('settings')">
                    <i class="fa fa-cog"></i>
                    Settings</a></li>
                <li ng-show="template == 'settings.html'"><a href="" ng-click="logout('settings')">
                    <i class="fa fa-sign-out"></i>
                    Logout</a></li>
            </ul>
            <!--
        -->
        </div>
        </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    
    <p class="alert alert-danger" ng-show="httpErrors">
        <i class="fa fa-exclamation-circle"></i>
        {{httpErrors}}</p>

    <!--
    We don't have to use views or routes, we can just use ng-show
    But, we will try using views first
    -->
    <div id="main" ng-include="template">

        <!-- angular templating, use ng-view -->
        <!-- this is where content will be injected -->

        {{ message }}

    </div>

</body>
</html>
