<!-- index.html -->
<!DOCTYPE html>
<html ng-app="viewApp">
<head>
    <!--
  <base href="/">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libs/font-awesome/font-awesome.min.css" />
    -->
  <!-- load CSS from bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="libs/json-formatter/json-formatter.css" />

  <style>
  body { padding-top: 70px; }
  </style>

  <!-- load angular and angular route via CDN -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  -->
  <script src="angular.js"></script>
  <script src="libs/json-formatter/json-formatter.js"></script>
  <!--
  <script src="angular-route.js"></script>
  -->

 <!-- load the main controller -->
  <script src="apiBrowser.js"></script>

</head>
<body ng-controller="mainController">

    <!-- HEADER AND NAVBAR -->
    <!--
                <a class="navbar-brand" href="/">WAPI Browser</a>
    -->

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- don't use <p> tags -->
                <a class="navbar-brand navbar-left" >WAPI Browser</a>
            </div>

                <!-- no href required in this context for the <a> tag-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="goTo('objects')">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Objects</a></li>
                <li><a href="" ng-click="goTo('settings')">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Settings</a></li>
            </ul>
            <!--
        -->
        </div>
        </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->

    <p class="alert alert-danger" ng-show="httpErrors">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{httpErrors}}</p>
    <!--
    We don't have to use views or routes, we can just use ng-show
    But, we will try using views first
    -->
    <div id="main" ng-include="template">

        <!-- angular templating, use ng-view -->
        <!-- this is where content will be injected -->

        {{ message }}

    </div>

</body>
</html>
