<div class="text-center">
    <h2 >Select an object</h2>

    <!-- make this a pulldown list ?
    http://mgcrea.github.io/angular-strap/##typeaheads

    <p ng-repeat="obj in objects" >
        <a ng-click="searchObjectPage(obj)" >{{obj}}</a>
    </p>
    -->
    <p class="alert alert-warning" ng-show="objectErrors">{{objectErrors}}</p>

    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

        <div class="list-group">
            <button type="button"
                ng-repeat="obj in objects"
                ng-click="searchObjectPage(obj)"
                class="text-center lead list-group-item">{{obj}}</button>
        </div>

    </div>
    </div>
    </div>



</div>
