<div class="text-center">
    <h3>Search objects : {{myObject}}</h3>
    <p>{{searchUrl}}</p>

    <!-- schemaErrors hide the search button, so this var is also a flag -->
    <p class="alert alert-danger" ng-show="schemaErrors">{{schemaErrors}}</p>
    <p class="alert alert-danger" ng-show="searchErrors">{{searchErrors}}</p>
</div>

    <!--
<div class="jumbotron text-center">
    <p ng-repeat="field in schema | filter: { name: query, age: '20' }">
          ng-blur="generateSearchQuery"
    -->

    <!--
     generate a form for the searchable fields,
     standard_fields are ordered first to make them easier to see
     Also generate a URL string

     We will update the $scope.searchFields model

     And we call an ng-change to real-time update of the
     example query string

    -->
<div class="form-horizontal" ng-show="schemaLoaded">

        <!--
            use ng-init to flip the bit on the checkbox
            use ng-model to add a field to the schema
                ng-model="field.modContains"
                checked
        {{field.searchable_by}}
        -->

    <div
        ng-repeat="field in schemaFields | filter: searchableFields
        | orderBy:'-standard_field' "
        class="form-group">

        <label for="search{{field.name}}"
        class="col-sm-3 control-label">{{field.name}}</label>

        <!-- text fields -->
        <div class="col-sm-5" ng-show="fieldIsText(field)">
          <input type="text" class="form-control input-sm"
              ng-change="generateSearchQuery()"
              ng-model="field.fieldValue"
              id="search{{field.name}}" placeholder="">
        </div>

        <!-- enum type field -->
        <div class="col-sm-5" ng-show="fieldIsEnum(field)">
            <select class="form-control"
              ng-change="generateSearchQuery()"
              ng-model="field.fieldValue"
                >
              <option></option>
              <option ng-repeat="v in field.enum_values">{{v}}</option>

            </select>
        </div>

        <!-- boolean fields 'name=true|false'-->
        <div class="col-sm-2" ng-show="fieldIsBoolean(field)">
            <select class="form-control"
              ng-change="generateSearchQuery()"
              ng-model="field.fieldValue"
                >
              <option></option>
              <option>true</option>
              <option>false</option>
            </select>
        </div>

        <!--
                ng-init="field.modCase=true"
                ng-init="field.modContains=true"
        -->

        <label ng-show="modifierContains(field)"
            class="checkbox-inline">
          <input type="checkbox"
                id="search{{field.name}}ModContains"
                ng-model="field.modContains"
                ng-change="generateSearchQuery()"
                >
          contains
        </label>
        <label ng-show="modifierCase(field)"
            class="checkbox-inline">
          <input type="checkbox"
                id="search{{field.name}}ModCase"
                ng-model="field.modCase"
                ng-change="generateSearchQuery()"
                >
          ignore case
        </label>

    </div>

    <div class="form-group" ng-show="!schemaErrors">
        <div class="col-sm-offset-3 col-sm-2">
            <button
              type="submit"
              class="btn btn-success btn-sm btn-block"
              ng-click="searchForObject()"> Search
            </button>
        </div>
    </div>

</div>

<div class="container-fluid" ng-show="searchResults">
  <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
          <json-formatter json="searchResults" open="2"> </json-formatter>
      </div>
  </div>
</div>
